# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
-p
.idea
.vscode
.github
.clinerules
.taskmaster
.trae
.windsurf
venv
venv/*
.roo
.cursor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

.roomodes
AGENTS.md
CLAUDE.md

# Task files
# tasks.json
# tasks/ 

run.bat
setup.bat
Folder_Creation.bat
utils/__pycache__/*.pyc
config/client_secret.json
.gitignore
config/token.pickle
resolve_merge.bat
config/ai_config.json
